.site-expertise{
  padding: 100px 0;
  background: $body-color;
  img {
	position: relative;
	width: 100%;
  }
  p {
    padding: 10px 0px;
	font-size: 25px;
    font-weight: 300;
  }
  &-list{
    padding: 0;
    margin: 10px 0 0 20px;
    @include mobile{
      text-align: center;
      margin: 0;
    }
    li{
      list-style: none;
      font-size: 25px;
      font-weight: 300;
      color: $text-color-dark;
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
  }
}

