.site-hero{
  position: relative;
  height: 9vh;
  background-color: $gray;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  @include desktop{
    height: auto;
    padding: 50px 0;
  }
  @include mobile{
    padding: 150px 0;
  }
  &-content{
    h1{
      margin-bottom: 75px;
      font-family: $decorative-font;
      font-size: 100px;
      @include desktop-lg{
        font-size: 72px;
        margin-bottom: 50px;
      }
      @include mobile{
        font-size: 40px;
      }
    }
    h2{
      font-size: 20px;
      color: $primary-color;
    }
  }
  &-scroll{
    position: absolute;
    left: 50%; bottom: 70px;
    transform: translateX(-50%);
  }
}